<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeetrack.websitetool"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yeetrack.websitetool.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.DomainDetailActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.FriendLinkActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.SpeedActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.PingActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.RouteActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.DNSActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.PageActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.GooglePageActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.DeadLinkActivity"
            android:launchMode="singleTask" android:screenOrientation="landscape">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.AlexaActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.SpiderActivity">
        </activity>
        <activity 
            android:name="com.yeetrack.websitetool.WhoisActivity">
        </activity>
        <activity
            android:name="com.yeetrack.websitetool.AboutActivity">
        </activity>
        <activity android:name="com.yeetrack.websitetool.DomainRegistActivity"></activity>
    </application>

</manifest>
